.text-about {
  font-size: 1.5rem;
}
.text-scs {
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .text-about {
    font-size: 1.2rem;
  }
  .text-scs {
    font-size: 1.2rem;
  }
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #25293b;
}

.form-control {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #25293b;
}

ul {
  list-style: none;
  padding: 0;
}

.btn {
  font-size: 1.063rem;
  line-height: 35px;
  transition: 0.2s ease;
}
.btn-treehouse {
  padding: 25px 12px;
  border: solid 5px papayawhip;
  border-radius: 15px;
  color: #FFF;
  background-color: #CB5262;
}
.btn-treehouse:hover {
  background: #b43647;
}
.btn-form {
  padding: 15px 50px;
  background-color: #FFF;
  border-radius: 5px;
}
.btn-form:hover {
  background: #e6e6e6;
}

.card {
  height: 100%;
}
.card img:hover {
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  filter: brightness(50%);
}
.card:hover {
  color: grey;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.col-4 {
  flex-grow: 1;
  width: calc(33% - 20px);
}
.col-6 {
  flex-grow: 1;
  width: calc(49% - 20px);
}
.col-8 {
  flex-grow: 1;
  width: calc(66% - 20px);
}
.col-12 {
  flex-grow: 1;
  width: 100%;
}

@media (min-width: 576px) {
  .col-sm-4 {
    flex-grow: 1;
    width: calc(33% - 20px);
  }
  .col-sm-6 {
    flex-grow: 1;
    width: calc(49% - 20px);
  }
  .col-sm-8 {
    flex-grow: 1;
    width: calc(66% - 20px);
  }
  .col-sm-12 {
    flex-grow: 1;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-4 {
    flex-grow: 1;
    width: calc(33% - 20px);
  }
  .col-md-6 {
    flex-grow: 1;
    width: calc(49% - 20px);
  }
  .col-md-8 {
    flex-grow: 1;
    width: calc(66% - 20px);
  }
  .col-md-12 {
    flex-grow: 1;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-4 {
    flex-grow: 1;
    width: calc(33% - 20px);
  }
  .col-lg-6 {
    flex-grow: 1;
    width: calc(49% - 20px);
  }
  .col-lg-8 {
    flex-grow: 1;
    width: calc(66% - 20px);
  }
  .col-lg-12 {
    flex-grow: 1;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-4 {
    flex-grow: 1;
    width: calc(33% - 20px);
  }
  .col-xl-6 {
    flex-grow: 1;
    width: calc(49% - 20px);
  }
  .col-xl-8 {
    flex-grow: 1;
    width: calc(66% - 20px);
  }
  .col-xl-12 {
    flex-grow: 1;
    width: 100%;
  }
}
.form-control {
  width: 100%;
  height: 40px;
  background-color: lightgrey;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.hero-img {
  background: url("../img/pexels-anni-roenkae-2693212.jpg") no-repeat top center;
  background-color: #ccc;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  overflow-x: hidden;
  position: relative;
}
.hero-img-home {
  background-attachment: initial;
}
.hero-img-home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}
.hero-img-flex {
  display: flex;
  justify-content: center;
}
.hero-text {
  position: absolute;
  text-align: center;
  font-size: 2rem;
  color: #FFF;
  z-index: 1;
}
.hero-text-home {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-scroll {
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -98%);
  text-align: center;
  font-size: 1.25rem;
  color: #FFF;
  z-index: 1;
}

@media (min-width: 576px) {
  .hero-img-flex-align-center {
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .hero-img-flex-scs {
    align-items: center;
  }
}
.fa-brands {
  color: #52B2CB;
}
.fa-angle-down {
  width: 100%;
}
.fa-angle-up {
  width: 100%;
}

.scroll {
  text-align: center;
  margin: 5rem;
}

.textarea {
  padding-bottom: 8rem;
}

.nav {
  grid-area: nav;
  text-align: center;
}
.nav-icon {
  color: #52B2CB;
  font-size: 7rem;
}
.nav-split {
  border-bottom: solid 3px #52B2CB;
  margin-bottom: 3rem;
}
.nav-fixed {
  width: 100%;
  display: none;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}
.nav-contact {
  border-top: solid 3px #52B2CB;
  border-bottom: solid 3px #52B2CB;
}
.nav-col {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.nav-link:hover {
  border-bottom: solid 2px #52B2CB;
}

.toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 50px;
  height: 50px;
  display: none;
}
.toggler:checked + .hamburger > .bar {
  transform: rotate(135deg);
}
.toggler:checked + .hamburger > .bar::before, .toggler:checked + .hamburger > .bar::after {
  top: 0;
  transform: rotate(90deg);
}
.toggler:checked:hover + .hamburger > .bar {
  transform: rotate(225deg);
}
.toggler:checked ~ .nav-fixed {
  display: flex;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 50px;
  height: 50px;
  padding: 1rem;
  background: #FFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.bar::before, .bar::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
.bar::after {
  top: 10px;
}

.social-media {
  margin-top: auto;
  padding-bottom: 1rem;
}

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }

  .nav {
    height: 100%;
  }
  .nav-fixed {
    display: flex;
    position: fixed;
    width: 200px;
    border-right: solid 3px #52B2CB;
  }
}
.box-primary {
  background: #52B2CB;
  border: solid 5px papayawhip;
  border-radius: 15px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.6);
  width: 276px;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .box-primary {
    width: 476px;
  }
}
@media (min-width: 768px) {
  .box-primary {
    width: 668px;
  }
}
@media (min-width: 992px) {
  .box-primary {
    width: 772px;
  }
}
@media (min-width: 1200px) {
  .box-primary {
    width: 980px;
  }
}
.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.contact {
  grid-area: contact;
}
.contact-scroll {
  text-align: center;
  font-size: 1.25rem;
}

.wrapper {
  display: grid;
  grid-template-areas: "nav" "header" "content" "contact";
}
.wrapper-split {
  padding-top: 4rem;
}

@media (min-width: 992px) {
  .wrapper {
    grid-template-columns: 200px 1fr;
    grid-template-areas: "nav header" "nav content" "nav contact";
  }
}
.container {
  padding: 4rem;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .container {
    padding: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
