@use '../abstracts/breakpoints' as *;
.head {
    grid-area: header;
}
.nav { //Originally tried to use . but it didn't work
    grid-area: nav;
    &-fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }
}
.content {
    grid-area: content;
}
.contact {
    grid-area: contact;
}
.wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
    "header"
    "content"
    "contact";
}

@media (min-width: map-get($breakpoints, 'sm')) {
    .wrapper {
        grid-template-columns: 1fr 7fr;
        grid-template-areas: 
        "nav header"
        "nav content"
        "nav contact";
    }
}