@use '../abstracts/breakpoints' as *;
@use '../abstracts/colors' as *;
.header {
    grid-area: header;
}

.content {
    grid-area: content;
}
.contact {
    grid-area: contact;
    &-scroll {
        text-align: center;
        font-size: 1.25rem;
    }
}
.wrapper {
    display: grid;
    grid-template-areas:
    "nav"
    "header"
    "content"
    "contact";
    &-split {
        padding-top: 4rem;
    }
}

@media (min-width: map-get($breakpoints, 'lg')) {
    .wrapper {
        grid-template-columns: $nav-width 1fr;
        grid-template-areas: 
        "nav header"
        "nav content"
        "nav contact";
    }
}