@use '../abstracts/colors' as *;

.var {
    color: $var;
    &-name {
        color: $name;
    }
    &-string {
        color: $string;
    }
    &-int {
        color: $int;
    }
    &-type {
        color: $type;
    }
}
.code-block {
    border-radius: 15px;
}