$gutter: 10px;
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid 3px red;
    gap: 10px;
}
.col {
    &-4 {
        flex-grow: 1;
        width: calc(33% - $gutter);
        border: solid 2px cyan;
    }
    &-6 {
        flex-grow: 1;
        width: calc(49% - $gutter);
        border: solid 2px cyan;
    }
    &-8 {
        flex-grow: 1;
        width: calc(66% - $gutter);
        border: solid 2px cyan;
    }
    &-12 {
        flex-grow: 1;
        width: 100%;
        border: solid 2px cyan;
    }
}