@use '../abstracts/colors' as *;
.hero {
    &-img {
        background: url('../img/pexels-anni-roenkae-2693212.jpg') no-repeat top center;
        background-color: $missing-img;
        background-size: cover;
        height: 100vh;
        overflow: hidden;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($black, .25);
        }
    }
    &-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 2rem;
        color: $white;
        z-index: 1;
    }
    &-scroll {
        position: absolute;
        top: 98%;
        left: 50%;
        transform: translate(-50%, -98%);
        text-align: center;
        font-size: 1.25rem;
        color: $white;
        z-index: 1;
    }
}