@use '../abstracts/breakpoints' as *;
@use '../abstracts/colors' as *;
.hero {
    &-img {
        background: url('../img/pexels-anni-roenkae-2693212.jpg') no-repeat top center;
        background-color: $missing-img;
        background-size: cover;
        height: 100vh;
        background-attachment: fixed;
        overflow-x: hidden;
        position: relative;
        &-home {
            background-attachment: initial;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba($black, .25);
            }
        }
        &-flex {
            display: flex;
            justify-content: center;
        }
    }
    &-text {
        position: absolute;
        text-align: center;
        color: $white;
        z-index: 1;
        &-home {
            font-size: 1rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &-scroll {
        position: absolute;
        top: 98%;
        left: 50%;
        transform: translate(-50%, -98%);
        text-align: center;
        font-size: 1.25rem;
        color: $white;
        z-index: 1;
    }
}

@media (min-width: map-get($breakpoints, 'sm')) {
    .hero-img-flex-align-center {
        align-items: center;
    }
}
@media (min-width: map-get($breakpoints, 'md')) {
    .hero-text-home {
        font-size: 2rem;
    }
}
@media (min-width: map-get($breakpoints, 'xl')) {
    .hero-img-flex-scs {
        align-items: center;
    }
}