@use '../abstracts/colors' as *;
.fa {
    &-brands {
        color: $primary;
    }
    &-angle {
        &-down {
            width: 100%;
        }
        &-up {
            width: 100%;
        }
    }
}