@use '../abstracts/colors' as *;
.fa {
    &-brands {
        color: $primary;
        font-size: 2rem;
    }
    &-angle {
        &-down {
            width: 100%;
        }
        &-up {
            width: 100%;
        }
    }
    &-check {
        color: $white;
        font-size: 60px;
    }
}
.circle {
    background-color: $primary;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}