@use '../abstracts/breakpoints' as *;
@use '../abstracts/colors' as *;
.scroll {
    text-align: center;
    margin: 5rem;
}
.textarea {
    padding-bottom: 8rem;
}
.nav { //Originally tried to use . but it didn't work
    grid-area: nav;
    height: 630px;
    
    text-align: center;
    &-icon {
        color: $primary;
        font-size: 7rem;
    }
    &-split {
        border-bottom: solid 3px $primary;
        margin-bottom: 3rem;
    }
    &-fixed {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
        box-sizing: border-box;
    }
    &-contact {
        border-top: solid 3px $primary;
        border-bottom: solid 3px $primary;
    }
    &-col {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }
    &-link:hover {
        border-bottom: solid 2px $primary;
    }
}
@media (min-width: map-get($breakpoints, 'lg')) {
    .nav {
        height: 100%;
        &-fixed {
            position: fixed;
            width: $nav-width;
            border-right: solid 3px $primary;
        }
    }
}