@use '../abstracts/breakpoints' as *;
@use '../abstracts/colors' as *;
.scroll {
    text-align: center;
    margin: 5rem 5rem 0;
}
.nav { //Originally tried to use . but it didn't work
    grid-area: nav;
    
    text-align: center;
    &-flex {
        display: flex;
        flex-direction: column;
        height: 80%;
        &-container {
            flex-grow: 1;
        }
    }
    &-icon {
        color: $primary;
        font-size: 7rem;
        &:hover {
            color: $secondary;
        }
    }
    &-split {
        border-bottom: solid 3px $primary;
        margin-bottom: 3rem;
    }
    &-fixed {
        position: fixed;
        width: 100%;
        display: none;
        flex-direction: column;
        height: 100%;
        z-index: 3;
        background-color: $white;
        box-sizing: border-box;
        &.show {
            animation: slidedown 0.4s ease-out;
        }
    }
    &-contact {
        border-top: solid 3px $primary;
        border-bottom: solid 3px $primary;
    }
    &-col {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        margin-top: auto;
        margin-bottom: auto;
    }
    &-link:hover {
        border-bottom: solid 2px $primary;
    }
}
.toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 50px;
    height: 50px;
    display: none;
    &:checked { 
        & + .hamburger > .bar {
            transform:rotate(135deg);
            &::before,
            &::after {
                top: 0;
                transform: rotate(90deg);
            }
        }
        &:hover + .hamburger > .bar {
            transform: rotate(225deg);
        }
        & ~ .nav-fixed {
            display: flex;
        }
    }
}
.hamburger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
    width: 50px;
    height: 50px;
    padding: 1rem;
    background: $white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    &::before, //top and bottom lines
    &::after {
        content: "";
        position: absolute;
        z-index: 11;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }
    &::after {
        top: 10px;
    }
}
.social-media {
    margin-top: auto;
    padding-bottom: 1rem;
}

@media (min-width: 540px) {
    .nav-fixed {
        width: 40%;
        right: 0;
    }
}

@media (min-width: map-get($breakpoints, 'lg')) {
    .nav-fixed {
        width: initial;
        right: initial;
    }
    .hamburger {
        display: none;
    }
    .nav {
        height: 100%;
        &-fixed {
            display: flex;
            width: $nav-width;
            border-right: solid 3px $primary;
        }
    }
}
@media (max-height: 511px) {
    .nav-split {
        margin-bottom: 0;
    }
}

@keyframes slidedown {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}