@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;
body {
    margin: 0;
    font-family: $fonts;
    color: $text;
}
.form-control {
    font-family: $fonts;
}
a {
    text-decoration: none;
    color: $text;
}
ul {
    list-style: none;
    padding: 0;
}