$primary: #52B2CB;
$secondary: #CB5262;
$accent: papayawhip;

$white: #FFF;
$black: #000;
$grey: grey;
$grey-light: lightgrey;
$text: #25293b;
$missing-img: #ccc;

$name: blue;
$var: orangered;
$string: brown;
$int: green;
$type: #08D;