$primary: #52B2CB;
$secondary: #CB5262;
$accent: papayawhip;

$white: #FFF;
$black: #000;
$grey: grey;
$grey-light: lightgrey;
$text: #25293b;
$missing-img: #ccc;
$blue: blue;

$name: olive;
$var: darkblue;
$string: brown;
$int: green;
$type: #08D;
$comment: darkgreen;
$loop: purple;
$success: #2A2;