@use '../abstracts/breakpoints' as *;
@use '../abstracts/colors' as *;
.text {
    &-about {
        font-size: 1rem;
    }
    &-coding-examples {
        font-size: 1rem;
        & p {
            text-align: left;
        }
        & a {
            color: $blue;
            &:hover {
                text-decoration: underline;
            }
        }
        & ul {
            text-align: left;
            list-style: disc;
        }
    }
    &-scs {
        font-size: 1rem;
        &-ul {
            list-style: circle;
            text-align: left;
        }
    }
}
.p {
    &b {
        &-1 {
            padding-bottom: 1rem;
        }
    }
    &t {
        &-1 {
            padding-top: 1rem;
        }
        &-2 {
            padding-top: 2rem;
        }
    }
}
@media (max-width: map-get($breakpoints, 'md')) {
    .text {
        &-about {
            font-size: .825rem;
        }
        &-scs {
            font-size: .825rem;
        }
        &-coding-examples {
            font-size: .825rem;
        }
    }
}

.code-block {
    text-align: left;
    background-color: $white;
    color: $text;
    font-size: .825rem;
    padding: 1rem;
    white-space: pre-wrap;
}